<html ng-app="myApp">
    <head>
        <title>ngModel</title>

        <script type="text/javascript" src="https://opensource.keycdn.com/angularjs/1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="07_Model.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    </head>
    <body>
        <div ng-controller="MainController as main">

            <table>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" 
                            ng-model="main.user.firstName" 
                            ng-focus="main.sayHello()" 
                            ng-blur="main.sayGoodBye()" autofocus></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" ng-model="main.user.lastName"></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" ng-model="main.user.email"></td>
                </tr>
                <tr>
                    <td>Add to mail list:</td>
                    <td><input type="checkbox" ng-model="main.user.optIn"></td>
                </tr>                                                
                <tr>
                    <td>Comments:</td>
                    <!--If the variable 'comments' doesn't exists, it will be created-->
                    <td><textarea ng-model="main.user.comments"></textarea></td>
                </tr>
                <tr>
                    <td>Prefered Color:</td>
                    <td>
                        <select ng-model="main.user.selectedColor">
                            <option ng-repeat="option in main.colors" value="{{option.value}}">{{option.name}}</option>
                        </select>
                    </td>
                </tr>                                
            </table>

            <hr />

            <p>Name: {{ main.user.firstName + ' ' + main.user.lastName }}</p>
            <p>Email: {{ main.user.email }}</p>
            <p>Opt in: {{ main.user.optIn }}</p>
            <p>Comments: {{ main.user.comments }}</p>
            <p>Prefered color: <div style="width:16px;height:16px;background-color:{{main.user.selectedColor}}"></div></p>

            <br /><br />
            <p>{{ main.message }}</p>
        </div>

    </body>
</html>